[submodule "vim/pack/my/start/fzf.vim"]
	path = vim/pack/my/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/my/start/open-browser.vim"]
	path = vim/pack/my/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule "vim/pack/my/start/vim-addon-mw-utils"]
	path = vim/pack/my/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/pack/my/start/tlib_vim"]
	path = vim/pack/my/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/pack/my/start/vim-snipmate"]
	path = vim/pack/my/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/pack/my/start/vim-snippets"]
	path = vim/pack/my/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/pack/my/start/vim-surround"]
	path = vim/pack/my/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/my/start/vim-obsession"]
	path = vim/pack/my/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/pack/my/start/tagbar"]
	path = vim/pack/my/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/my/start/editorconfig-vim"]
	path = vim/pack/my/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/my/start/async.vim"]
	path = vim/pack/my/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/pack/my/start/vim-lsp"]
	path = vim/pack/my/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/my/start/asyncomplete.vim"]
	path = vim/pack/my/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/pack/my/start/asyncomplete-lsp.vim"]
	path = vim/pack/my/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "apps/vim"]
	path = apps/vim
	url = https://github.com/vim/vim
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "apps/fzf"]
	path = apps/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/my/start/vim-grammarous"]
	path = vim/pack/my/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule "vim/pack/my/start/vim-tmux-navigator"]
	path = vim/pack/my/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/my/start/vim-markdown"]
	path = vim/pack/my/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/my/start/tabular"]
	path = vim/pack/my/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/my/start/jellybeans.vim"]
	path = vim/pack/my/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "urxvt/resize-font"]
	path = urxvt/resize-font
	url = https://github.com/simmel/urxvt-resize-font
[submodule "vim/pack/my/start/vimtex"]
	path = vim/pack/my/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/my/start/asyncomplete-omni.vim"]
	path = vim/pack/my/start/asyncomplete-omni.vim
	url = https://github.com/yami-beta/asyncomplete-omni.vim
[submodule "vim/pack/my/start/vim-commentary"]
	path = vim/pack/my/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "apps/ctags"]
	path = apps/ctags
	url = https://github.com/universal-ctags/ctags
[submodule "vim/pack/my/start/neoformat"]
	path = vim/pack/my/start/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "vim/pack/my/start/markdown-preview.nvim"]
	path = vim/pack/my/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
